#menu {
    list-style: none;
    top: 0px;
    position:fixed;
 
 
 }
 
 #home {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
   
 }
 
 
 #home span img {
    width: 200px; 
    height: 200px; 
    padding: 20px;
  }
 p {
     word-wrap: break-word;
   }

 #p1 {
    width: 70%; 
 }
   
 #profa {
     padding-right: 30px;
     padding-left: 30px; 
     font-family: 'Dancing Script', cursive;
     font-size: 26px;
     color: rgb(98, 5, 98); 
 }
 
 .item {
     float:left;
     padding:3%; 
 
 }
 a {
     text-decoration:none;
     
 }
 
 a:hover { 
     color: rgb(98, 5, 98) !important; 
     font-size: 18px;
     text-shadow: 2px 2px rgba(156, 9, 144, 0.18) ;
 }
 
 
 #home span {
     display: inline-block;
     vertical-align: top;
   }
 
 #sobre2 {
     background-color: rgb(215, 15, 85);
     padding-top: 60px;
     border-radius: 100%;
     width: 150px;
     height: 150px;
     text-align: center;
     color: aliceblue;
     font-weight: bold; 
     margin: 2%;
 }
 #projetos2 {
     background-color: #049853;
     padding-top: 60px;
     border-radius: 100%;
     width: 150px;
     height: 150px;
     text-align: center;
     color: aliceblue;
     font-weight: bold; 
     margin: 2%;
 }
 #publicacoes2 {
     background-color: rgb(202, 133, 6);
     padding-top: 60px;
     border-radius: 100%;
     width: 150px;
     height: 150px;
     text-align: center;
     color: aliceblue;
     font-weight: bold; 
     margin: 2%;
 }
 
 #menu2 {
     display:flex;
     flex-direction: row;
    
     
 }

 i {
    color: rgb(8, 144, 67);
    font-size: 30px;
    padding-left: 100px;
    padding-right: 20px;
 }

 #frases {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(63, 66, 65, 0.046);
    
    
 }

 #frase1 span {
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 2;
 }

 #autor span {
    margin-left: 10px;
    margin-right: 20px;
    text-align: left;
 }

 #frase2 span {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    line-height: 2;
 }

 #rodape {
    
    background-color: rgba(109, 230, 190, 0.535);
    text-align: center;
 } 